@font-face {
  font-family: "iconfont"; /* Project id 4421322 */
  src: url('iconfont.woff2?t=1706090197178') format('woff2'),
       url('iconfont.woff?t=1706090197178') format('woff'),
       url('iconfont.ttf?t=1706090197178') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e607";
}

.icon-bangzhu:before {
  content: "\e600";
}

.icon-swap-vertical-circle:before {
  content: "\e8c6";
}

.icon-xiangxia:before {
  content: "\e652";
}

.icon-USDT:before {
  content: "\e615";
}

.icon-usdc:before {
  content: "\e6d4";
}

.icon-ETH:before {
  content: "\e621";
}

